.NavMenu {
    color: white;
    display: flexbox;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 7%;
}

.NavLink {
    padding-right: 3%;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 300;
}

.Carousel-root-1 {
    width: 100%;
    max-height: 92.5vh;
    overflow: hidden;
    position: relative;
}

.CarouselItem {
    width: 100%;
}

.MainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #0098c7;
    background-image: url('/images/phxback.jpg');
    padding: 0 5% 0 12%;
}

.ProjectInfo {
    width: 45%;
    text-align: center;
    padding-top: 2.5%;
}

.ProjectImage {
    width: 45%;
    padding-top: 2.5%;
    height: 88.5vh;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.CheckButton {
    width: 25%;
    color: white !important;
    background-color: #222222 !important;
}

.NavArrows {
    background-color: white !important;
}

.PageWrapper {
    background: #232323;
    height: 100vh;
}

.NavMenu {
    height: 10vh;
    background: #232323;
    margin-top: -1.2%;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
    .ProjectInfo {
        width: 90%;
        text-align: center;
        padding-top: 2.5%;
    }
    .MuiPaper-elevation1 {
        padding: 25px 15px 25px 15px !important;
        height: fit-content !important;
    }
    .MuiButton-label {
        font-size: 0.7rem !important;
    }
}

/* Bootstap CSS Overrides */
.MuiPaper-elevation1 {
    padding: 22.9% 15%;
    height: 84vh;
}

.MuiButtonBase-root:hover {
    background-color: #0098c7 !important;
}

.Carousel-buttonWrapper-6 {
    top: calc(50% - 70px);
    height: 100px;
    position: absolute;
    background-color: transparent;
}

.Carousel-prev-12 {
    left: 13.5% !important;
    top: 86% !important;
    z-index: 98;
}

.Carousel-next-11 {
    right: 52.5% !important;
    top: 86% !important;
    z-index: 99;
}

.Carousel-indicators-2 {
    width: 100% !important;
    position: absolute;
    margin-top: -5% !important;
    text-align: left !important;
    bottom: 9% !important;
    left: 27.8% !important;
}

.Carousel-indicator-3 {
    color: #cdcdcd !important;
}

.Carousel-active-5 {
    color: rgba(0, 0, 0, 0.87) !important;
}

.MuiPaper-rounded {
    border-radius: 0px !important;
}